<!DOCTYPE html>
<html>
<head>
  <title>Bootprint</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
  </style>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuxOKovG-8ueM3rJvF4Lt1K6mXPN78HLE">
  </script>
  <script type="text/javascript">
    // This example displays a marker at the center of Australia.
    // When the user clicks the marker, an info window opens.

    function initialize() {
      var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
      var mapOptions = {
        zoom: 4,
        center: myLatlng
      };

      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


      // TODO: FIX THIS
      var contentString

      var infowindow = new google.maps.InfoWindow({
          content: contentString
      });

      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          // title: 'Uluru (Ayers Rock)'
      });
      google.maps.event.addListener(marker, 'click', function() {
        // close all other info boxes
        infowindow.open(map,marker);
      });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    $(document).ready(function(){
      $('#aj').on('click', function(event) {
        event.preventDefault()
        $.ajax({
          type: "GET",
          url: "/graduates"
        }).done(function(response) {
          console.log(response)
        })
      })
    })
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
